@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: Poppins;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#red {
  color: rgb(193, 23, 30);
}
